@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: yekan;
    scroll-behavior: smooth;
  }
  .counter-box {
    @apply w-[25px] h-[25px] flex justify-center items-center bg-white rounded-[7px] text-[14px] font-sans;
  }
  .CenterItem {
    transform: translate(-50%, -50%);
  }
  .SuperMarketRound {
    border-radius: 15px 0 15px 15px;
  }
  .hCustomDigiServicesDes {
    height: calc(70vh - 60px);
  }
  .hCustomDigiServicesMobile {
    height: calc(100vh - 60px);
  }
  .customHDes {
    height: calc(80vh - 230px);
  }
  .customHMobile {
    height: calc(100vh - 230px);
  }
  .hCostumSubMenu {
    height: calc(100vh - 147px);
  }
  .headerMenuTransition {
    transition: top 0.2s ease-in-out; /* تنظیم انیمیشن */
    transition-delay: 80ms;
  }
  .HeaderInimation {
    top: 0px !important ; /* حالت مخفی */
  }

  .HeaderZindexOne {
    z-index: 100 !important;
  }
  .HeaderZindexTwo {
    z-index: 80 !important;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@font-face {
  font-family: yekan;
  src: url("../../public/Fonts/Fa/iranYekan/Numbers/IRANSansWebFaNum-Medium.eot");
  src: url("../../public/Fonts/Fa/iranYekan/Numbers/IRANSansWebFaNum-Medium.woff");
  src: url("../../public/Fonts/Fa/iranYekan/Numbers/IRANSansWebFaNum-Medium.woff2");
  src: url("../../public/Fonts/Fa/iranYekan/Numbers/IRANSansWebFaNum-Medium.ttf");
  font-weight: normal;
}
@font-face {
  font-family: yekan;
  src: url("../../public/Fonts/Fa/iranYekan/Regular/IRANYekan.eot");
  src: url("../../public/Fonts/Fa/iranYekan/Regular/IRANYekan.woff");
  src: url("../../public/Fonts/Fa/iranYekan/Regular/IRANYekan.woff2");
  src: url("../../public/Fonts/Fa/iranYekan/Regular/IRANYekan.ttf");
  font-weight: normal;
}

swiper-container .swiper-button-prev,
swiper-container .swiper-button-next {
  display: none !important;
}

.custom-prev,
.custom-next,
.custom-nextBrand,
.custom-prevBrand,
.custom-nextMostSell,
.custom-prevMostSell,
.custom-nextmainSlider,
.custom-prevmainSlider,
.custom-nextamazingSlider,
.custom-prevamazingSlider {
  background-color: #fbffff;
  color: #fff;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  z-index: 100;
  @apply w-[25px] lg:w-[40px] h-[25px] lg:h-[40px];
}

.custom-prev,
.custom-prevBrand {
  position: absolute;
  left: 10px;
  top: calc(50% - 40px / 2);
}

.custom-next {
  position: absolute;
  right: 10px;
  top: calc(50% - 40px / 2);
}

.custom-nextBrand {
  position: absolute;
  right: 10px;
  top: calc(50% - 40px / 2);
}
.custom-prevBrand {
  position: absolute;
  left: 10px;
  top: calc(50% - 40px / 2);
}

.custom-nextMostSell {
  position: absolute;
  right: 10px;
  top: calc(50% - 40px / 2);
}
.custom-prevMostSell {
  position: absolute;
  left: 10px;
  top: calc(50% - 40px / 2);
}
.custom-prevmainSlider {
  position: absolute;
  z-index: 4;
  opacity: 0;
  transition: all;
  @apply bottom-3 right-10 lg:right-[80px] lg:bottom-[30px];
}
.custom-nextmainSlider {
  position: absolute;
  right: 30px;
  bottom: 30px;
  z-index: 4;
  opacity: 0;
  transition: all;
  @apply bottom-3 right-3 lg:right-[30px] lg:bottom-[30px];
}

.mainSliderx:hover .custom-prevmainSlider {
  opacity: 1;
  transition-duration: 400ms;
}

.mainSliderx:hover .custom-nextmainSlider {
  opacity: 1;
  transition-duration: 400ms;
}

.swiper-pagination-bullet {
  background-color: red !important;
  opacity: 1;
}

.custom-prevamazingSlider {
  position: absolute;
  left: 10px;
  top: calc(50% - 40px / 2);
}
.custom-nextamazingSlider {
  position: absolute;
  right: 10px;
  top: calc(50% - 40px / 2);
}

.bannerZindex {
  z-index: 1000 !important;
}

.readMoreText.showMore .moreText {
  display: inline;
}

.accardionSVG.accardionTransiotion {
  transform: rotateX(180deg);
}
.accardionShowMoreToggle {
  display: flex;
}

.animatedLink {
  width: max-content;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-color: #ed1944;
    bottom: -5px;
    height: 1.5px;
    width: 100%;
    left: 0;
    transition: 0.15s;
    transition-timing-function: ease-in-out;
    transform: scale(0);
  }
  &:hover::after {
    transform: scale(1);
  }
}
.animatedLinkMain {
  width: max-content;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-color: #ed1944;
    bottom: 2px;
    height: 1.5px;
    width: 100%;
    left: 0;
    transition: 0.15s;
    transition-timing-function: ease-in-out;
    transform: scale(0);
  }
  &:hover::after {
    transform: scale(1);
  }
}
.borderMenu {
  border-radius: 0 0 10px 10px;
}
.SuperZindex {
  z-index: 999 !important;
}
.SuperMarketPopUp {
  transition: all 0.3s ease;
}

.SuperMarketPopUp .extra-tag {
  font-size: 14px;
  color: #fff;
  background-color: #047857;
  padding: 5px 10px;
  border-radius: 15px;
  margin: 0 5px;
  animation: fadeIn 0.2s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sticky-hidden {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.sticky-visible {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

::--swiper-pagination-color {
  background-color: red;
}

--swiper-pagination-bullet-inactive-color {
  background-color: red;
  color: blue;
}

::--swiper-pagination-bullet-inactive-color {
  background-color: red;
  color: blue;
}

html::-webkit-scrollbar,
#item-details::-webkit-scrollbar,
#categories-list::-webkit-scrollbar,
#CityScrollCustom::-webkit-scrollbar,
#SupportScroolCustom::-webkit-scrollbar,
.ScrollerCustomIcons::-webkit-scrollbar {
  width: 9px;
  height: 10px;
}

html::-webkit-scrollbar-button #item-details::-webkit-scrollbar-button,
#categories-list::-webkit-scrollbar-button,
#CityScrollCustom::-webkit-scrollbar-button,
#SupportScroolCustom::-webkit-scrollbar-button , .ScrollerCustomIcons::-webkit-scrollbar-button {
  display: none;
}

html::-webkit-scrollbar-thumb,
#item-details::-webkit-scrollbar-thumb,
#categories-list::-webkit-scrollbar-thumb,
#CityScrollCustom::-webkit-scrollbar-thumb,
#SupportScroolCustom::-webkit-scrollbar-thumb , .ScrollerCustomIcons::-webkit-scrollbar-thumb {
  background-color: #9b9b9b;
}

html::-webkit-scrollbar-track,
#item-details::-webkit-scrollbar-track,
#categories-list::-webkit-scrollbar-track,
#CityScrollCustom::-webkit-scrollbar-track,
#SupportScroolCustom::-webkit-scrollbar-track ,.ScrollerCustomIcons::-webkit-scrollbar-track {
  background-color: #cfcece;
}
